<main th:replace="~{/admin/layout/index :: admin(~{::topCategory})}">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" th:fragment="topCategory">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
				<!-- admin box revenue -->
				<div th:insert="~{admin/layout/navbar :: adminBoxRevenue}"></div>
				<!-- /admin box revenue -->
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>ProductTable</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">ProductTable</li>
            </ol>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Bảng</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Biểu đồ</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-one-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                  <!-- table -->
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <!-- /.card -->
                        <div class="card">
                          <div class="card-header">
                            <div class="row justify-content-between">
                              <div class="col-6">
                                <h2>Product List</h2>
                              </div>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="example1"
                                   class="table table-bordered table-striped table-hover">
                              <thead>
                              <tr>
                                <th>Id</th>
                                <th style="max-width: 80px">Image</th>
                                <th>Name</th>
                                <th>Sản phẩm</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="item :${items}">
                                <td th:text="${item.category.id}"></td>
                                <td>
                                  <div style="display: flex; justify-content: center;">
                                    <img th:src="@{|/img/category/${item.category.image}|}"
                                         style="width: 80px; height: 70px; border-radius: 10%;"/>
                                  </div>
                                </td>
                                <td th:text="${item.category.name}"></td>
                                <td>
                                  <a th:href="@{|/admin/statistic-category-product?category-id=${item.category.id}|}"> <span th:text="${item.productCount} + ' sản phẩm'"></span></a>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- .table -->
                </div>
                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                  <!-- chart -->
                  <div th:insert="~{admin/statistic/chart :: chart4}"></div>
                  <!-- .chart -->
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>

      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</main>