<main th:replace="~{/admin/layout/index :: admin(~{::addcolor})}">
    <div class="content-wrapper" th:fragment="addcolor">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ColorTable</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/admin/color">ColorTable</a></li>
                            <li class="breadcrumb-item active">AddColor</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h2>Add Color</h2>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form   th:action="@{/admin/color/createform}" method="post"
                                        th:object="${color}">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="InputPassword1">Name</label>
                                                <input type="text" th:field="*{name}" class="form-control" id="InputPassword1" placeholder="Enter Name">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="reset"  class="btn btn-danger float-right">Cancel</button>

                                        <button type="submit" class="btn btn-success float-right" style="margin-right: 10px">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</main>